/bin
/boot/.*
/boot/.Spotlight*
/boot/.*.*
/boot/*.dat
/boot/*.dtb
/boot/*.bin
/boot/*.elf
/boot/*.img
/boot/overlays
/boot/LICENCE.broadcom
/boot/COPYING.linux
/dev
/home
/lib
/lost+found
/media
/mnt
/opt
/proc
/root
/run
/sbin
/srv
/sys
/tmp
/usr
/var
/etc/.*
/etc/adduser.conf
/etc/alternatives
/etc/apparmor.d
/etc/apt
/etc/avahi
/etc/bash.bashrc
/etc/bash_completion
/etc/bash_completion.d
/etc/bindresvport.blacklist
/etc/binfmt.d
/etc/bluetooth
/etc/ca-certificates
/etc/ca-certificates.conf
/etc/calendar
/etc/cifs-utils
/etc/console-setup
/etc/cron*
/etc/dbus-1
/etc/debconf.conf
/etc/debian_version
/etc/default
/etc/deluser.conf
/etc/dhcp/*.d
/etc/dhcp/debug
/etc/dphys-swapfile
/etc/dpkg
/etc/fake-hwclock.data
/etc/fb.modes
/etc/fuse.conf
/etc/gai.conf
/etc/gdb
/etc/groff
/etc/grou*
/etc/gshado*
"/etc/shadow-"
/etc/shadow-
/etc/gss
/etc/idmapd.conf
/etc/ifplugd
/etc/init
/etc/init.d
/etc/initramfs-tools
/etc/inputrc
/etc/insserv.conf.d
/etc/iproute2
/etc/issue
/etc/issue.net
/etc/kernel
/etc/ldap
/etc/ld.*
/etc/libaudit.conf
/etc/libnl-3
/etc/locale.alias
/etc/locale.gen
/etc/logcheck
/etc/login.defs
/etc/logrotate.*
/etc/machine-id
/etc/magic
/etc/magic.mime
/etc/mailcap
/etc/mailcap.order
/etc/manpath.config
/etc/mime.types
/etc/mke2fs.conf
/etc/modprobe.d
/etc/modules
/etc/modules-load.d
/etc/motd
/etc/nanorc
/etc/netconfig
/etc/network
/etc/networks
/etc/nsswitch.conf
/etc/opt
/etc/os-release
/etc/pam.conf
/etc/pam.d
/etc/passwd
/etc/passwd-
/etc/paxctld.conf
/etc/perl
/etc/polkit-1
/etc/ppp
/etc/profile.d
/etc/protocols
/etc/python
/etc/python2.7
/etc/python3
/etc/python3.7
/etc/rc*
/etc/request-key.conf
/etc/request-key.d
/etc/resolv.conf
/etc/resolvconf
/etc/resolv.conf.bak
/etc/resolvconf.conf
/etc/rmt
/etc/rpc
/etc/rpi-issue
/etc/rsyslog.conf
/etc/rsyslog.d
/etc/securetty
/etc/security
/etc/selinux
/etc/services
/etc/shadow
/etc/shells
/etc/skel
/etc/ssh
/etc/ssl
/etc/subgid
/etc/subuid
/etc/sudoers
/etc/sudoers.d
/etc/sysctl.conf
/etc/sysctl.d
/etc/systemd
/etc/terminfo
/etc/tmpfiles.d
/etc/triggerhappy
/etc/ucf.conf
/etc/udev
/etc/ufw
/etc/update-motd.d
/etc/usb_modeswitch.conf
/etc/usb_modeswitch.d
/etc/vim
/etc/wgetrc
/etc/wpa_supplicant
/etc/X11
/etc/xattr.conf
/etc/xdg
